<div *ngIf="loginClicked" class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" id="header">
      <p class="modal-card-title has-text-centered" id="header-text">Login</p>
      <button
        class="delete"
        aria-label="close"
        (click)="onCloseModal()"
      ></button>
    </header>
    <section class="modal-card-body">
      <div>
        <!-- <div class="field">
          <label class="label"
            >Username&nbsp;&nbsp;&nbsp;<span
              *ngIf="invalidUsername"
              class="invalid"
            >
              Invalid Username
            </span></label
          >
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="enter username"
              name="username"
              ngModel
            />
          </div>
        </div> -->

        <!-- <div class="field">
          <label class="label"
            >Password&nbsp;&nbsp;&nbsp;<span
              *ngIf="invalidPassword"
              class="invalid"
            >
              Invalid Password
            </span></label
          >
          <div class="control">
            <input
              class="input"
              type="password"
              placeholder="enter password"
              name="password"
              ngModel
            />
          </div>
        </div> -->
        <div class="field has-text-centered">
          <div class="control">
            <button
              *ngIf="signedIn"
              class="button is-rounded"
              (click)="onClickSignout()"
            >
              sign out
            </button>
            <button
              *ngIf="!signedIn"
              class="button is-rounded"
              type="external login"
              (click)="onClickSubmit()"
            >
              Log in with Google
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
