#login {
  width: auto;
  height: auto;
}

.button {
  background-color: #ffc947;
  color: #0a1931;
  size: 30dp, 45dp;
}

#header {
  background-color: #0a1931;
  color: #ffc947;
}

#header-text {
  color: #ffc947;
  font-size: 30px;
}

.invalid {
  color: red;
}
