<section class="hero is-small is-primary">
  <div class="hero-head">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="" routerLink="/home">
          <!--    <img src="" alt="Logo" /> -->
          <img
            class="image"
            src="https://toppng.com/uploads/preview/this-free-icons-design-of-books-opened-11550253335r5kvxff5ql.png"
            alt="Logo"
          />
        </a>
        <span class="navbar-burger" data-target="navbarMenuHeroB">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroB" class="navbar-menu">
        <div class="navbar-end">
          <a *ngIf="!loggedIn" class="navbar-item" (click)="onLoginClicked()"
            >Log In</a
          >
          <span *ngIf="loggedIn" class="navbar-end">
            <a class="navbar-item">My books</a>
            <a class="navbar-item" (click)="logout()">Logout</a>
          </span>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body has-text-centered">
    <div class="container">
      <p class="title">Should Reads</p>
      <p class="subtitle">a place for books</p>
    </div>
  </div>
  <div class="hero-foot">
    <div class="tabs is-boxed is-fullwidth">
      <ul>
        <li>
          <span class="navbar-item"
            ><search-bar (emitBooks)="emitSearchedBooks($event)"></search-bar
          ></span>
        </li>
        <!--       <li>
          <a>Most Popular</a>
        </li>
      -->
        <li>
          <a href="">Most Popular</a>
        </li>
        <li>
          <a href="/user">My Account</a>
        </li>
        <li>
          <a routerLink="/list" disabled="true">My library</a>
        </li>
        <!-- <li>
          <a href="">Link five</a>
        </li> -->
      </ul>
    </div>
  </div>
</section>

<login-modal
  [loginClicked]="loginClicked"
  (closeModal)="closeModal($event)"
  (loggedIn)="validUser($event)"
  [logoutClicked]="logoutClicked"
></login-modal>
