.is-small {
  background-color: #0a1931;
}

.hero-head {
  background-color: #0a1931;
}

.hero-foot {
  background-color: #185adb;
}

.button {
  background-color: #ffc947;
  color: #0a1931;
  size: 30dp, 45dp;
}

.title {
  font-size: 45px;
}
