<page-header></page-header>

<div class="container">
  <div class="columns">
    <div class="column is-half">
      <div class="card" id="reviewCard">
        <div class="card-content" >
          <div class="media">
            <div class="media-content">
              <p class="title is-4">My Reviews</p>
              <p class="subtitle is-6">
                
              </p>
            </div>
          </div>

          <figure class="image is-48x48">
            <img
              src="https://bulma.io/images/placeholders/96x96.png"
              alt="Placeholder image"
            />
            <img
              src="https://bulma.io/images/placeholders/96x96.png"
              alt="Placeholder image"
            />
          </figure>
          <figure class="image is-48x48">
            <img
              src="https://bulma.io/images/placeholders/96x96.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
      </div>
    </div>
    <div class="column is-offset-1 ">
      <div class="card" id="userCard">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img
                  class="is-rounded"
                  src = "{{userImage}}"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="media-content">
               <p class="title is-4">{{ username}}</p>
              <p class="subtitle is-6">{{ userEmail }}</p> 
            </div>
          </div>

          <div class="content">
          <p>Verified: {{userVerified}}</p>
          <p>Account Created: {{userCreationDate}}</p>
          <p>Last Sign-in: {{userLastSignIn}}</p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">Edit</a>
          <a href="#" class="card-footer-item">Deactivate</a>
          <a href="#" class="card-footer-item">Delete</a>
        </footer>
      </div>
    </div>
  </div>
</div>
